apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://kubernetes.github.io/ingress-nginx'
    targetRevision: 4.11.0
    helm:
      parameters:
        - name: controller.service.type
          value: NodePort
        - name: controller.hostNetwork
          value: 'true'
        - name: controller.ingressClassResource.default
          value: 'true'
        - name: controller.metrics.enabled
          value: 'true'
        - name: controller.allowSnippetAnnotations
          value: 'true'
    chart: ingress-nginx
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: ingress-nginx
  syncPolicy:
    syncOptions:
      - CreateNamespace=true